.all-title {
  font-size: 20px;
}

.all-sort {
  margin-top: 15px;
  border-top: 1px solid #aaa;
}

.all-sort > li {
  box-sizing: border-box;
  float: left;
  height: 380px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 25px;
}

.all-sort > li:not(:last-of-type) {
  border-right: 1px solid #ccc;
}

.all-sort > li li a {
  color: #aaa;
  font-size: 13px;
  line-height: 28px;
}

.all-sort > li li:nth-of-type(1) {
  text-align: center;
}

.all-sort > li li:nth-of-type(2) {
  margin-top: 20px;
}

.all-sort > li li:nth-of-type(2) a {
  color: black;
}
