* {
    margin: 0;
    padding: 0;
}
body {
    color: #333;
    font-size: 12px;
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}
div {
    box-sizing: border-box;
}
li {
    list-style: none;
}
table {
    border-collapse: collapse;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.pr {
    position: relative;
}
.row::after {
    display: table;
    content: "";
    clear: both;
}
.border-right::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    border-right: 1px solid #333;
}
[class^="col"]{
    float: left;
}
@media (min-width:992px){
    @for $i from 1 to 13 {
        .col-md-#{$i}{
            width:100%/12*$i;
        }
    }
}
@media (min-width: 768px) and (max-width: 992) {
    @for $i from 1 to 13 {
        .col-sm-#{$i}{
            width: 100%/12*$i;
        }
    }
}
@media (max-width: 768px){
    @for $i from 1 to 13 {
        .col-xs-#{$i}{
            width: 100%/12*$i;
        }
    }
}