*{
    margin: 0;
    padding: 0;
}
.carousel{
    margin-bottom: 20px;
}
.product-container{
    width: 80%;
    height: 100%;
    margin: auto;
    .product-list{
        width: 80%;
        height: 100%;
        margin: auto;
       ul{
           height: 100%;
           margin-bottom: 20px;
           overflow: hidden;
           left: 0;
           padding: 0;
           border-bottom: 1px solid #ddd;
            li{
                height: 100%;
                overflow: hidden;
                float:left;
                list-style:none;
                margin-bottom: -1px;
                display: block;
                position: relative;
                box-sizing: border-box;
                
                a{
                    position: relative;
                    display: block;
                    padding: 10px 15px;
                    color: #666;
                    margin-right: 2px;
                    border: 1px solid transparent;
                    border-radius:4px;
                    list-style: none;
                    line-height: 1.42;

                }
            }
       }
    }
}
.product-frame{
    width: 80%;
    margin: auto;
    div{
        padding: 5px;
        box-sizing: border-box;
        img{
            width: 100%;
        }
    }
}