.binging-container{
    position: relative;
    .phone{
        position: absolute;
        top:28px;
        left: 74px;
        width: 496px;
        height:66px;
        background: white;
        border: 2px solid  rgb(220,220,220);
        img{
            
           padding:10px 10px 9px 30px; 
        }
        p{
            
            color:rgb(199,199,199);
        }
        form{
            
            input{
                position: absolute;
                top:16px;
                left: 376px;
                width: 80px;
                height: 32px;
                border:0px;
            }
        }
    }
    .weixing{
        position: absolute;
        top:120px;
        left: 74px;
        width: 496px;
        height:66px;
        background: white;
        border: 2px solid rgb(220,220,220);
        img{
            
           padding:10px 10px 9px 30px; 
        }
        p{
            
            color:rgb(199,199,199);
        }
        form{
            
            input{
                position: absolute;
                top:16px;
                left: 376px;
                width: 80px;
                height: 32px;
                border:0px;
            }
        }
    }
}