
body{
    background: rgba(239,249,239,0.8)
}
.nav{
    width: 100%;

}
.back{
    width: 100%;
    background: black;
}
.nav-top{
    width: 1120px;
    height: 100px;
    background: black;
    position: relative;
    img{
        float: left;
        position: relative;
        left: 0;
        top:30px;
    }
    .nav-top-ul{
        float: left;
        position: relative;
        top:30px;
        left: 200px;
        li{
            margin-left: 10px;
        }a{
            color: rgb(239,249,239);
        &:hover{
            color:rgb(39,39,39);
        }
        }
    }
    .login{
        width: 90px;
        height: 21px;
        border: 1px solid white;
        position: absolute;
        top: 30px;
        left: 980px;
        a{
            height: 21px;
            color: white;
        }
    }
}

.nav-bottom{
    width:1120px;
    height:100px;
    ul{
        color:rgb(100,100,100);
       line-height: 100px;
        li{
            margin-right: 20px;
            a{
                color: rgb(39,39,39);
            }
            .a-text{
                font-weight: bold;
            }
        }
    }
    .card{
        float: right;
        height: 100%;
       line-height: 100px;
       a{
           img{
            widows: 23px;
            height: 23px;
           }
       }
        i{
            position: relative;
          
        }
        .drop-content{
            display: none;
        }
        &:hover  div{
            position: absolute;
            margin-top: -20px;
            left:-245px;
            display: block;
            height: 200px;
            width: 300px;
            content:"购物车";
            background: white;
            border-radius: 5px;
            .a-text{
                color: rgb(230,230,230);
                font-size: 14px;
            }
            &::before{
                display: block;
                content: "";
                position: absolute;
                border-bottom: 500px solid red;
            }
        }
    }
}



.container{
    width: 1220px;
    .container-image{
        width: 1220px;
        height: 501xp;
        border-radius:8xp;
    }
    .container-generalize{
        border:1px solid rgb(230,230,230);
        overflow: hidden;
        margin-bottom: 30px;
        // height: 100%;
        
        div{
            height: 200px;
            width: 304px;
            box-sizing: border-box;
            &:not(:first-child){
                border-left: 1px solid rgb(209,249,209);  
            }
        }
    }
}




.container-hot{
    overflow: hidden;
    border:1px solid rgb(230,230,230);
    margin-bottom: 30px;    
    .container-hot-heat{
        width: 1220px;
        height: 61px;
        background:white;
        border-bottom: 1px solid rgb(230,230,230);
        // border-left: 1px solid #333;
        // border-top: 1px solid #333;
        // border-right: 1px solid #333;

        // &::before{
        //     content: "";
        //     display: block;
        //     border-top: 1px solid rgb(150,150,150);  
        // }
        h1{
           transform: translateY(10px);
        }
    }
    .container-hot-goods {
        div{
            font-size: 14px;
            background: white;
            position: relative;
            width: 25%;
            height: 430px;
            overflow: hidden;
           ul{
               .image-goods{
                    height: 205.9px;
                    height: 205.9px;
                    margin-top: 50px;
                    margin-bottom: 50px;
                    .li-height{
                    border: 5px solid white;
                    }
               }
               .image-dot{
                display: block;
                box-sizing: border-box;
                width: 9px;
                height: 9px;
                border: 2px solid white;
                border-radius: 3px;
            }
               
     
           }
           &:hover .input-button{
            color: darkgrey;
            display: block;
            width: 100%;
            height: 20px;
            position: absolute;
            top: 394px;
            left: 90px;
         }
        }
    }
}

// .card{
//     i{
//         position: relative;
      
//     }
//     &:hover  div{
//         height: 200px;
//         width: 300px;
//         // content:"购物车";
//         position: absolute;
//         left: opx;
//         background: url(images/spcart1.png) no-repeat;
//     }
// }


.container-selection{
    overflow: hidden;
    border:1px solid rgb(230,230,230);
    margin-bottom: 30px;  
    overflow: hidden;  
    .container-selection-heat{
        width: 1220px;
        height: 61px;
        background:white;
        overflow: hidden;  
        border-bottom: 1px solid rgb(230,230,230);
        // border-left: 1px solid #333;
        // border-top: 1px solid #333;
        // border-right: 1px solid #333;

        // &::before{
        //     content: "";
        //     display: block;
        //     border-top: 1px solid rgb(150,150,150);  
        // }
        h1{
           transform: translateY(10px);
        }
    }
    .container-selection-goods {
        .selection-image{
            width: 50%;
            height: 430px;
            float: left;
        }

    }
}
.container-dynamic{
    width: 1220px;
    height: 260px;
    overflow: hidden;

}
.container-border{
    overflow: hidden;
   
    margin-bottom: 30px;  
    overflow: hidden; 
}
.container-heat{
    width: 100%;
    height: 60px;
    background:white;
    overflow: hidden;  
    border-top:1px solid rgb(230,230,230);
    border-right:1px solid rgb(230,230,230);
    border-left:1px solid rgb(230,230,230);
    h1{
        line-height: 60px;
    }
}
.container-dynamic-div{
    border:1px solid rgb(230,230,230);
    overflow: hidden;
   
    // height: 100%;
    
    div{
        height: 200px;
        width: 304px;
        float: left;
        box-sizing: border-box;
        &:not(:first-child){
            border-left: 1px solid rgb(209,249,209);  
        }
    }
}
.container-app-div{
    border:1px solid rgb(230,230,230);
    overflow: hidden;
   
    // height: 100%;
    // .hidden{
    //     display: none;
    // }
    div{
        height: 354px;
        width: 304px;
        float: left;
        position: relative;
        background: white;
        box-sizing: border-box;
        .hidden{
            display: none;
           
        }
        &:hover .hidden{
            position: absolute;
            display:block;
            height: 354px;
            width: 304px;
            margin-top: -290px;
            background:rgb(100,100,100);
 
        }
        &:not(:first-child){
            border-left: 1px solid rgb(209,249,209);   
        }
        
        
        a{
            display:block;
            .app-image-one{
                margin-top: 90px;
            }
            h4{
                color: black;
                margin-top: 40px;
            }
            p{
                width: 244px;
                height: 30px;
                color: rgb(90, 94, 94);
                margin-top: 6px;
                margin-bottom: 6px;
                font-size: 14px;
                
            }
            .app-image-two{
                transform: translateY(35px);
            }

        }  
    }
}
.box-shadow{
    &:hover{
        
        box-shadow:0px 0px 10px 5px rgb(230,230,230) inset;
    }
}

