*{
    margin:0px;
    padding: 0px;
}
.top{
    width: 720px;
    height:122px;
    margin:auto;
    padding:auto;
    margin-bottom: 30px;
}

.top-head{
    width:168px;
    height:42px;
    color:white;
    background-color:#00a78e;

    margin:auto;
    padding:auto;
    position: relative;
}
.top-head>h4{
    text-align:center ;
    line-height: 42px;
}
.top-head::before{
    content: "";
    position: absolute;
    left: 32px;
    top: 41px;
    display: block;
    border:10px solid transparent;
    border-top-color:#00a78e ;
}
.top-text{
    width: 720px;
    box-sizing:border-box;
    text-align:center;
    margin:20px auto;
    padding:auto;
}
.top-text span{
    color:#1b242f;
    box-sizing:border-box;
    font-size: 1.8em;
    text-align:center;
    padding-bottom:7px;
    /*display:block;*/
}
.top-line{
    width: 202px;
    height:1px;
    background-color:#00a78e;
    margin:auto;
    padding:auto;

}
.top-line{
    margin-top:23px;
    position: relative;
}

div>.top-line:before{
    content: '';
    display: block;
    width:60px;
    height: 5px;
    background-color:#00a78e;
    left: 71px;
    top: -2px;
    position: absolute;
}